<!-- Contenedor global del modal -->
<div class="fixed inset-0 z-50">

  <!-- Caracteristicas del modal -->
  <div class="flex items-center justify-center min-h-screen">

    <!-- Oscurecer pantalla al abrir modal -->
    <div class="fixed inset-0 bg-gray-600 bg-opacity-75 modal-bg-container"></div>

    <!-- Contenido del modal -->
    <div class="overflow-hidden transition-all transform rounded-md shadow-xl modal-container bg-sidebar-color">

      <!-- Contenido -->
      <div class="p-5 modal-wrapper-flex">

        <!-- Cabeza -->
        <div class="flex items-center justify-between gap-4 p-3 border-gray-800 rounded-md border-1">
          <!-- Logo -->
          <img class="border-gray-800 rounded-full border-1" src="./assets/images/logo.png"
            style="width: 80px; height: 80px;" alt="dashboard widget" />

          <!-- Datos -->
          <div class="flex flex-col items-center justify-center flex-1 m-auto">
            <h3 class="text-2xl font-semibold text-center">Dental Xperience</h3>
            <label class="m-auto text-sm text-center">Av. Gamoneda y Eudal Valdez N° 1833</label>
            <label class="text-sm text-center">Tel. 43423432</label>
            <label class="text-sm text-center">Tarija - Bolivia</label>
            <label class="pt-1 text-xs text-center">Actividades de médicos y odontólogos</label>
          </div>

          <div class="flex flex-col p-2 border-gray-800 rounded-md border-1">
            <p>NIT: 4234234</p>
            <p>Nro: 00051</p>
          </div>

        </div>

        <!-- Formulario -->
        <form action="">

          <div class="grid grid-cols-3 gap-3 p-2 mt-3 border-gray-800 rounded-md border-1">

            <!-- Input Nombres -->
            <div class="col-span-3">
              <div class="relative">
                <input type="text" id="nombres" class="block peer" placeholder=" " [value]="detallePago?.paciente" />
                <label
                  class="absolute top-2 left-1 z-10 origin-[0] -translate-y-4 scale-95 transform bg-white px-2 text-sm text-gray-500 duration-300 peer-placeholder-shown:top-1/2 peer-placeholder-shown:-translate-y-1/2 peer-placeholder-shown:scale-100 peer-focus:top-2 peer-focus:-translate-y-4 peer-focus:scale-95 peer-focus:px-2 peer-focus:text-primary-color">
                  A nombre de
                </label>
              </div>
            </div>

            <!-- Input Nit/Ci -->
            <div>
              <div class="relative">
                <input type="number" id="ci" class="block peer" placeholder=" " name="nit" [(ngModel)]="nit" />
                <label
                  class="absolute top-2 left-1 z-10 origin-[0] -translate-y-4 scale-95 transform bg-white px-2 text-sm text-gray-500 duration-300 peer-placeholder-shown:top-1/2 peer-placeholder-shown:-translate-y-1/2 peer-placeholder-shown:scale-100 peer-focus:top-2 peer-focus:-translate-y-4 peer-focus:scale-95 peer-focus:px-2 peer-focus:text-primary-color">
                  NIT/CI
                </label>
              </div>
            </div>

            <!-- Input detalle -->
            <div class="col-span-2">
              <div class="relative">
                <input type="text" id="detalle" class="block peer" placeholder=" " name="detalle"
                  [(ngModel)]="detalle" />
                <label
                  class="absolute top-2 left-1 z-10 origin-[0] -translate-y-4 scale-95 transform bg-white px-2 text-sm text-gray-500 duration-300 peer-placeholder-shown:top-1/2 peer-placeholder-shown:-translate-y-1/2 peer-placeholder-shown:scale-100 peer-focus:top-2 peer-focus:-translate-y-4 peer-focus:scale-95 peer-focus:px-2 peer-focus:text-primary-color">
                  Detalle
                </label>
              </div>
            </div>


            <div class="flex items-center justify-between col-span-3 gap-3">
              <!-- Input total -->
              <div>
                <div class="relative">
                  <input type="number" id="total" class="block peer" placeholder=" " [value]="detallePago?.monto" />
                  <label
                    class="absolute top-2 left-1 z-10 origin-[0] -translate-y-4 scale-95 transform bg-white px-2 text-sm text-gray-500 duration-300 peer-placeholder-shown:top-1/2 peer-placeholder-shown:-translate-y-1/2 peer-placeholder-shown:scale-100 peer-focus:top-2 peer-focus:-translate-y-4 peer-focus:scale-95 peer-focus:px-2 peer-focus:text-primary-color">
                    Total
                  </label>
                </div>
              </div>

              <div class="flex items-center justify-center ">
                <p class="m-auto font-semibold">Total: ### Bs.</p>
              </div>
            </div>


          </div>

        </form>
      </div>

      <!-- Botones -->
      <div class="flex flex-row-reverse gap-4 px-4 py-3 bg-body-color">
        <button
          class="w-full px-3 py-2 font-medium border border-gray-800 rounded-md shadow-md bg-sidebar-color text-text-color hover:bg-gray-200"
          (click)="closeModal()">
          Cancelar
        </button>

        <button
          class="w-full px-3 py-2 font-medium text-white border border-gray-800 rounded-md shadow-md bg-primary-color hover:bg-primary-color-dark"
          (click)="emitir()">
          Emitir
        </button>
      </div>

    </div>

  </div>

</div>
