<!-- Contenedor global del modal -->
<div class="fixed inset-0 z-50">

  <!-- Caracteristicas del modal -->
  <div class="flex items-center justify-center min-h-screen">

    <!-- Oscurecer pantalla al abrir modal -->
    <div class="fixed inset-0 bg-gray-600 bg-opacity-75 modal-bg-container"></div>

    <!-- Contenido del modal -->
    <div class="overflow-hidden transition-all transform rounded-md shadow-xl modal-container bg-sidebar-color">

      <!-- Contenido -->
      <div class="p-5 modal-wrapper-flex">

        <h4 class="mb-4 text-2xl font-semibold text-center">Modificar historial clinico</h4>

        <!-- Cabeza -->
        <div class="flex items-center justify-center gap-4 p-3 border-gray-800 rounded-md border-1">
          <!-- Logo -->
          <img class="border-gray-800 rounded-full border-1" src="./assets/images/logo.png"
            style="width: 80px; height: 80px;" alt="dashboard widget" />
          <!-- Datos -->
          <div class="flex-1 m-auto">
            <h3 class="text-2xl font-semibold text-center">Dental Xperience</h3>
          </div>

        </div>

        <!-- Formulario -->
        <form>

          <!-- Contenido con scroll -->
          <div class="overflow-y-auto modal-content-container max-h-80">

            <!-- Datos personales -->
            <h5 class="mt-4 text-lg font-semibold text-start">Datos personales</h5>
            <div class="grid grid-cols-3 gap-3 p-2 border-gray-800 rounded-md border-1">

              <!-- Input Nombres -->
              <div>
                <div class="relative">
                  <input type="text" id="nombres" class="block peer" placeholder=" " name="nombre"
                    [(ngModel)]="historial.nombre" />
                  <label
                    class="absolute top-2 left-1 z-10 origin-[0] -translate-y-4 scale-95 transform bg-white px-2 text-sm text-gray-500 duration-300 peer-placeholder-shown:top-1/2 peer-placeholder-shown:-translate-y-1/2 peer-placeholder-shown:scale-100 peer-focus:top-2 peer-focus:-translate-y-4 peer-focus:scale-95 peer-focus:px-2 peer-focus:text-primary-color">
                    Nombres
                  </label>
                </div>
              </div>

              <!-- Input ApellidoPaterno -->
              <div>
                <div class="relative">
                  <input type="text" id="ap" class="block peer" placeholder=" " name="apellido_paterno"
                    [(ngModel)]="historial.apellido_paterno" />
                  <label
                    class="absolute top-2 left-1 z-10 origin-[0] -translate-y-4 scale-95 transform bg-white px-2 text-sm text-gray-500 duration-300 peer-placeholder-shown:top-1/2 peer-placeholder-shown:-translate-y-1/2 peer-placeholder-shown:scale-100 peer-focus:top-2 peer-focus:-translate-y-4 peer-focus:scale-95 peer-focus:px-2 peer-focus:text-primary-color">
                    Apellido paterno
                  </label>
                </div>
              </div>

              <!-- Input ApellidoMaterno -->
              <div>
                <div class="relative">
                  <input type="text" id="am" class="block peer" placeholder=" " name="apellido_materno"
                    [(ngModel)]="historial.apellido_materno" />
                  <label
                    class="absolute top-2 left-1 z-10 origin-[0] -translate-y-4 scale-95 transform bg-white px-2 text-sm text-gray-500 duration-300 peer-placeholder-shown:top-1/2 peer-placeholder-shown:-translate-y-1/2 peer-placeholder-shown:scale-100 peer-focus:top-2 peer-focus:-translate-y-4 peer-focus:scale-95 peer-focus:px-2 peer-focus:text-primary-color">
                    Apellido materno
                  </label>
                </div>
              </div>

              <!-- Input edad -->
              <div>
                <div class="relative">
                  <input type="number" id="edad" class="block peer" placeholder=" " name="edad"
                    [(ngModel)]="historial.edad" />
                  <label
                    class="absolute top-2 left-1 z-10 origin-[0] -translate-y-4 scale-95 transform bg-white px-2 text-sm text-gray-500 duration-300 peer-placeholder-shown:top-1/2 peer-placeholder-shown:-translate-y-1/2 peer-placeholder-shown:scale-100 peer-focus:top-2 peer-focus:-translate-y-4 peer-focus:scale-95 peer-focus:px-2 peer-focus:text-primary-color">
                    Edad
                  </label>
                </div>
              </div>

              <!-- Input sexo -->
              <div class="flex items-center justify-center border-2 border-gray-300 rounded-md">
                <div class="relative">
                  <span
                    class="mb-1 text-sm bg-white px-2 text-gray-500 absolute top-[-4px] left-1 z-10 origin-[0] -translate-y-4 scale-95 transform">Sexo</span>
                  <ul class="flex w-full h-full m-auto text-sm font-medium text-gray-400 ">
                    <li class="w-full ml-[-20px] ">
                      <div class="flex items-center">
                        <input id="rmasculino" type="radio" value="Masculino" name="list-radio"
                          [checked]="historial.sexo === 'Masculino'" name="sexo" [(ngModel)]="historial.sexo">
                        <label for="rmasculino" class="w-full ml-2 text-sm font-medium text-gray-500">Masculino</label>
                      </div>
                    </li>
                    <li class="w-full ">
                      <div class="flex items-center px-2">
                        <input id="rfemenino" type="radio" value="Femenino" name="list-radio"
                          [checked]="historial.sexo === 'Femenino'" name="sexo" [(ngModel)]="historial.sexo">
                        <label for="rfemenino" class="w-full ml-2 text-sm font-medium text-gray-500">Femenino</label>
                      </div>
                    </li>
                  </ul>
                </div>
              </div>

              <!-- Input fecha nacimiento -->
              <div>
                <div class="relative">
                  <input type="date" id="fnacimiento" class="block peer" placeholder=" " name="fecha_nacimiento"
                    [(ngModel)]="historial.fecha_nacimiento" />
                  <label
                    class="absolute top-2 left-1 z-10 origin-[0] -translate-y-4 scale-95 transform bg-white px-2 text-sm text-gray-500 duration-300 peer-placeholder-shown:top-1/2 peer-placeholder-shown:-translate-y-1/2 peer-placeholder-shown:scale-100 peer-focus:top-2 peer-focus:-translate-y-4 peer-focus:scale-95 peer-focus:px-2 peer-focus:text-primary-color">
                    Fecha de nacimiento
                  </label>
                </div>
              </div>

              <!-- Input ciudad -->
              <div>
                <div class="relative">
                  <input type="text" id="ciudad" class="block peer" placeholder=" " name="ciudad"
                    [(ngModel)]="historial.ciudad" />
                  <label
                    class="absolute top-2 left-1 z-10 origin-[0] -translate-y-4 scale-95 transform bg-white px-2 text-sm text-gray-500 duration-300 peer-placeholder-shown:top-1/2 peer-placeholder-shown:-translate-y-1/2 peer-placeholder-shown:scale-100 peer-focus:top-2 peer-focus:-translate-y-4 peer-focus:scale-95 peer-focus:px-2 peer-focus:text-primary-color">
                    Ciudad
                  </label>
                </div>
              </div>

              <!-- Input pais -->
              <div>
                <div class="relative">
                  <input type="text" id="pais" class="block peer" placeholder=" " name="pais"
                    [(ngModel)]="historial.pais" />
                  <label
                    class="absolute top-2 left-1 z-10 origin-[0] -translate-y-4 scale-95 transform bg-white px-2 text-sm text-gray-500 duration-300 peer-placeholder-shown:top-1/2 peer-placeholder-shown:-translate-y-1/2 peer-placeholder-shown:scale-100 peer-focus:top-2 peer-focus:-translate-y-4 peer-focus:scale-95 peer-focus:px-2 peer-focus:text-primary-color">
                    Pais
                  </label>
                </div>
              </div>

              <!-- Input nivel educacion -->
              <div>
                <div class="relative">
                  <input type="text" id="educacion" class="block peer" placeholder=" " name="nivel_educacion"
                    [(ngModel)]="historial.nivel_educacion" />
                  <label
                    class="absolute top-2 left-1 z-10 origin-[0] -translate-y-4 scale-95 transform bg-white px-2 text-sm text-gray-500 duration-300 peer-placeholder-shown:top-1/2 peer-placeholder-shown:-translate-y-1/2 peer-placeholder-shown:scale-100 peer-focus:top-2 peer-focus:-translate-y-4 peer-focus:scale-95 peer-focus:px-2 peer-focus:text-primary-color">
                    Nivel de educacion
                  </label>
                </div>
              </div>

              <!-- Input profesion -->
              <div>
                <div class="relative">
                  <input type="text" id="profesion" class="block peer" placeholder=" " name="profesion"
                    [(ngModel)]="historial.profesion" />
                  <label
                    class="absolute top-2 left-1 z-10 origin-[0] -translate-y-4 scale-95 transform bg-white px-2 text-sm text-gray-500 duration-300 peer-placeholder-shown:top-1/2 peer-placeholder-shown:-translate-y-1/2 peer-placeholder-shown:scale-100 peer-focus:top-2 peer-focus:-translate-y-4 peer-focus:scale-95 peer-focus:px-2 peer-focus:text-primary-color">
                    Profesion
                  </label>
                </div>
              </div>

              <!-- Input estadocivil -->
              <div>
                <div class="relative">
                  <input type="text" id="estadocivil" class="block peer" placeholder=" " name="estadocivil"
                    [(ngModel)]="historial.estado_civil" />
                  <label
                    class="absolute top-2 left-1 z-10 origin-[0] -translate-y-4 scale-95 transform bg-white px-2 text-sm text-gray-500 duration-300 peer-placeholder-shown:top-1/2 peer-placeholder-shown:-translate-y-1/2 peer-placeholder-shown:scale-100 peer-focus:top-2 peer-focus:-translate-y-4 peer-focus:scale-95 peer-focus:px-2 peer-focus:text-primary-color">
                    Estado civil
                  </label>
                </div>
              </div>

              <!-- Input direccion -->
              <div class="col-span-2">
                <div class="relative">
                  <input type="text" id="direccion" class="block peer" placeholder=" " name="direccion"
                    [(ngModel)]="historial.direccion" />
                  <label
                    class="absolute top-2 left-1 z-10 origin-[0] -translate-y-4 scale-95 transform bg-white px-2 text-sm text-gray-500 duration-300 peer-placeholder-shown:top-1/2 peer-placeholder-shown:-translate-y-1/2 peer-placeholder-shown:scale-100 peer-focus:top-2 peer-focus:-translate-y-4 peer-focus:scale-95 peer-focus:px-2 peer-focus:text-primary-color">
                    Direccion
                  </label>
                </div>
              </div>

              <!-- Input telefono -->
              <div>
                <div class="relative">
                  <input type="number" id="telefono" class="block peer" placeholder=" " name="telefono"
                    [(ngModel)]="historial.telefono" />
                  <label
                    class="absolute top-2 left-1 z-10 origin-[0] -translate-y-4 scale-95 transform bg-white px-2 text-sm text-gray-500 duration-300 peer-placeholder-shown:top-1/2 peer-placeholder-shown:-translate-y-1/2 peer-placeholder-shown:scale-100 peer-focus:top-2 peer-focus:-translate-y-4 peer-focus:scale-95 peer-focus:px-2 peer-focus:text-primary-color">
                    Telefono
                  </label>
                </div>
              </div>
            </div>

            <!-- Motivo de la consulta -->
            <h5 class="mt-4 text-lg font-semibold text-start">Motivo de la consulta</h5>
            <div class="grid grid-cols-3 gap-3 p-2 border-gray-800 rounded-md border-1">

              <!-- Input motivoconsulta -->
              <div>
                <div class="relative">
                  <input type="text" id="motivoconsulta" class="block peer" placeholder=" " name="motivo"
                    [(ngModel)]="consulta.motivo" />
                  <label
                    class="absolute top-2 left-1 z-10 origin-[0] -translate-y-4 scale-95 transform bg-white px-2 text-sm text-gray-500 duration-300 peer-placeholder-shown:top-1/2 peer-placeholder-shown:-translate-y-1/2 peer-placeholder-shown:scale-100 peer-focus:top-2 peer-focus:-translate-y-4 peer-focus:scale-95 peer-focus:px-2 peer-focus:text-primary-color">
                    Motivo de la consulta
                  </label>
                </div>
              </div>

              <!-- Input ultima visita con el odontologo -->
              <div>
                <div class="relative">
                  <input type="date" id="ultimavisita" class="block peer" placeholder=" "
                    name="ultima_visita_odontologo" [(ngModel)]="consulta.ultima_visita_odontologo" />
                  <label
                    class="absolute top-2 left-1 z-10 origin-[0] -translate-y-4 scale-95 transform bg-white px-2 text-sm text-gray-500 duration-300 peer-placeholder-shown:top-1/2 peer-placeholder-shown:-translate-y-1/2 peer-placeholder-shown:scale-100 peer-focus:top-2 peer-focus:-translate-y-4 peer-focus:scale-95 peer-focus:px-2 peer-focus:text-primary-color">
                    Ultima visita
                  </label>
                </div>
              </div>

            </div>

            <!-- Antecedentes de salud -->
            <h5 class="mt-4 text-lg font-semibold text-start">Antecedentes de salud</h5>
            <div class="grid grid-cols-3 gap-3 p-2 border-gray-800 rounded-md border-1">

              <!-- Input alergias -->
              <div>
                <div class="relative">
                  <input type="text" id="alergias" class="block peer" placeholder=" " name="alergias"
                    [(ngModel)]="salud.alergias" />
                  <label
                    class="absolute top-2 left-1 z-10 origin-[0] -translate-y-4 scale-95 transform bg-white px-2 text-sm text-gray-500 duration-300 peer-placeholder-shown:top-1/2 peer-placeholder-shown:-translate-y-1/2 peer-placeholder-shown:scale-100 peer-focus:top-2 peer-focus:-translate-y-4 peer-focus:scale-95 peer-focus:px-2 peer-focus:text-primary-color">
                    Alergias
                  </label>
                </div>
              </div>

              <!-- Input antecedentes -->
              <div>
                <div class="relative">
                  <input type="text" id="antecedentes" class="block peer" placeholder=" " name="antecedentes"
                    [(ngModel)]="salud.antecedentes" />
                  <label
                    class="absolute top-2 left-1 z-10 origin-[0] -translate-y-4 scale-95 transform bg-white px-2 text-sm text-gray-500 duration-300 peer-placeholder-shown:top-1/2 peer-placeholder-shown:-translate-y-1/2 peer-placeholder-shown:scale-100 peer-focus:top-2 peer-focus:-translate-y-4 peer-focus:scale-95 peer-focus:px-2 peer-focus:text-primary-color">
                    Antecedentes
                  </label>
                </div>
              </div>

            </div>

            <!-- Examen extra oral -->
            <h5 class="mt-4 text-lg font-semibold text-start">Examen extra oral</h5>
            <div class="grid grid-cols-3 gap-3 p-2 border-gray-800 rounded-md border-1">

              <!-- Input atm -->
              <div>
                <div class="relative">
                  <input type="text" id="atm" class="block peer" placeholder=" " name="atm"
                    [(ngModel)]="extraoral.atm" />
                  <label
                    class="absolute top-2 left-1 z-10 origin-[0] -translate-y-4 scale-95 transform bg-white px-2 text-sm text-gray-500 duration-300 peer-placeholder-shown:top-1/2 peer-placeholder-shown:-translate-y-1/2 peer-placeholder-shown:scale-100 peer-focus:top-2 peer-focus:-translate-y-4 peer-focus:scale-95 peer-focus:px-2 peer-focus:text-primary-color">
                    ATM
                  </label>
                </div>
              </div>

              <!-- Input Ganglios linfaticos -->
              <div>
                <div class="relative">
                  <input type="text" id="ganglios" class="block peer" placeholder=" " name="ganglios_linfaticos"
                    [(ngModel)]="extraoral.ganglios_linfaticos" />
                  <label
                    class="absolute top-2 left-1 z-10 origin-[0] -translate-y-4 scale-95 transform bg-white px-2 text-sm text-gray-500 duration-300 peer-placeholder-shown:top-1/2 peer-placeholder-shown:-translate-y-1/2 peer-placeholder-shown:scale-100 peer-focus:top-2 peer-focus:-translate-y-4 peer-focus:scale-95 peer-focus:px-2 peer-focus:text-primary-color">
                    Ganglios linfaticos
                  </label>
                </div>
              </div>

              <!-- Input Respirador -->
              <div>
                <div class="relative">
                  <input type="text" id="respirador" class="block peer" placeholder=" " name="respirador"
                    [(ngModel)]="extraoral.respirador" />
                  <label
                    class="absolute top-2 left-1 z-10 origin-[0] -translate-y-4 scale-95 transform bg-white px-2 text-sm text-gray-500 duration-300 peer-placeholder-shown:top-1/2 peer-placeholder-shown:-translate-y-1/2 peer-placeholder-shown:scale-100 peer-focus:top-2 peer-focus:-translate-y-4 peer-focus:scale-95 peer-focus:px-2 peer-focus:text-primary-color">
                    Respirador
                  </label>
                </div>
              </div>

              <!-- Input Labios -->
              <div>
                <div class="relative">
                  <input type="text" id="labios" class="block peer" placeholder=" " name="labios"
                    [(ngModel)]="extraoral.labios" />
                  <label
                    class="absolute top-2 left-1 z-10 origin-[0] -translate-y-4 scale-95 transform bg-white px-2 text-sm text-gray-500 duration-300 peer-placeholder-shown:top-1/2 peer-placeholder-shown:-translate-y-1/2 peer-placeholder-shown:scale-100 peer-focus:top-2 peer-focus:-translate-y-4 peer-focus:scale-95 peer-focus:px-2 peer-focus:text-primary-color">
                    Labios
                  </label>
                </div>
              </div>

              <!-- Input Habitos -->
              <div>
                <div class="relative">
                  <input type="text" id="habitos" class="block peer" placeholder=" " name="habitos"
                    [(ngModel)]="extraoral.habitos" />
                  <label
                    class="absolute top-2 left-1 z-10 origin-[0] -translate-y-4 scale-95 transform bg-white px-2 text-sm text-gray-500 duration-300 peer-placeholder-shown:top-1/2 peer-placeholder-shown:-translate-y-1/2 peer-placeholder-shown:scale-100 peer-focus:top-2 peer-focus:-translate-y-4 peer-focus:scale-95 peer-focus:px-2 peer-focus:text-primary-color">
                    Habitos
                  </label>
                </div>
              </div>

              <!-- Input Otros -->
              <div>
                <div class="relative">
                  <input type="text" id="otros" class="block peer" placeholder=" " name="otros"
                    [(ngModel)]="extraoral.otros" />
                  <label
                    class="absolute top-2 left-1 z-10 origin-[0] -translate-y-4 scale-95 transform bg-white px-2 text-sm text-gray-500 duration-300 peer-placeholder-shown:top-1/2 peer-placeholder-shown:-translate-y-1/2 peer-placeholder-shown:scale-100 peer-focus:top-2 peer-focus:-translate-y-4 peer-focus:scale-95 peer-focus:px-2 peer-focus:text-primary-color">
                    Otros
                  </label>
                </div>
              </div>

            </div>

            <!-- Examen intra oral -->
            <h5 class="mt-4 text-lg font-semibold text-start">Examen intra oral</h5>
            <div class="grid grid-cols-3 gap-3 p-2 border-gray-800 rounded-md border-1">

              <!-- Input Lengua -->
              <div>
                <div class="relative">
                  <input type="text" id="lengua" class="block peer" placeholder=" " name="lengua"
                    [(ngModel)]="intraoral.lengua" />
                  <label
                    class="absolute top-2 left-1 z-10 origin-[0] -translate-y-4 scale-95 transform bg-white px-2 text-sm text-gray-500 duration-300 peer-placeholder-shown:top-1/2 peer-placeholder-shown:-translate-y-1/2 peer-placeholder-shown:scale-100 peer-focus:top-2 peer-focus:-translate-y-4 peer-focus:scale-95 peer-focus:px-2 peer-focus:text-primary-color">
                    Lengua
                  </label>
                </div>
              </div>

              <!-- Input Paladar -->
              <div>
                <div class="relative">
                  <input type="text" id="paladar" class="block peer" placeholder=" " name="paladar"
                    [(ngModel)]="intraoral.paladar" />
                  <label
                    class="absolute top-2 left-1 z-10 origin-[0] -translate-y-4 scale-95 transform bg-white px-2 text-sm text-gray-500 duration-300 peer-placeholder-shown:top-1/2 peer-placeholder-shown:-translate-y-1/2 peer-placeholder-shown:scale-100 peer-focus:top-2 peer-focus:-translate-y-4 peer-focus:scale-95 peer-focus:px-2 peer-focus:text-primary-color">
                    Paladar
                  </label>
                </div>
              </div>

              <!-- Input Piso de la boca -->
              <div>
                <div class="relative">
                  <input type="text" id="pisoboca" class="block peer" placeholder=" " name="piso_boca"
                    [(ngModel)]="intraoral.piso_boca" />
                  <label
                    class="absolute top-2 left-1 z-10 origin-[0] -translate-y-4 scale-95 transform bg-white px-2 text-sm text-gray-500 duration-300 peer-placeholder-shown:top-1/2 peer-placeholder-shown:-translate-y-1/2 peer-placeholder-shown:scale-100 peer-focus:top-2 peer-focus:-translate-y-4 peer-focus:scale-95 peer-focus:px-2 peer-focus:text-primary-color">
                    Piso de la boca
                  </label>
                </div>
              </div>

              <!-- Input Mucosa yugal -->
              <div>
                <div class="relative">
                  <input type="text" id="mucosayugal" class="block peer" placeholder=" " name="mucosa_yugal"
                    [(ngModel)]="intraoral.mucosa_yugal" />
                  <label
                    class="absolute top-2 left-1 z-10 origin-[0] -translate-y-4 scale-95 transform bg-white px-2 text-sm text-gray-500 duration-300 peer-placeholder-shown:top-1/2 peer-placeholder-shown:-translate-y-1/2 peer-placeholder-shown:scale-100 peer-focus:top-2 peer-focus:-translate-y-4 peer-focus:scale-95 peer-focus:px-2 peer-focus:text-primary-color">
                    Mucosa yugal
                  </label>
                </div>
              </div>

              <!-- Input Encias -->
              <div>
                <div class="relative">
                  <input type="text" id="encias" class="block peer" placeholder=" " name="encias"
                    [(ngModel)]="intraoral.encias" />
                  <label
                    class="absolute top-2 left-1 z-10 origin-[0] -translate-y-4 scale-95 transform bg-white px-2 text-sm text-gray-500 duration-300 peer-placeholder-shown:top-1/2 peer-placeholder-shown:-translate-y-1/2 peer-placeholder-shown:scale-100 peer-focus:top-2 peer-focus:-translate-y-4 peer-focus:scale-95 peer-focus:px-2 peer-focus:text-primary-color">
                    Encias
                  </label>
                </div>
              </div>

              <!-- Input protesis -->
              <div class="flex items-center justify-center border-2 border-gray-300 rounded-md">
                <div class="relative">
                  <span
                    class="mb-1 text-sm bg-white px-2 text-gray-500 absolute top-[-4px] left-[-50px] z-10 origin-[0] -translate-y-4 scale-95 transform">U.
                    protesis dental?</span>
                  <ul class="flex w-full h-full m-auto text-sm font-medium text-gray-400 ">
                    <li class="w-full ml-[-20px] ">
                      <div class="flex items-center">
                        <input id="protesisSi" type="radio" [value]="true" name="protesis"
                          [(ngModel)]="intraoral.protesis">
                        <label class="w-full ml-2 text-sm font-medium text-gray-500">Si</label>
                      </div>
                    </li>
                    <li class="w-full ">
                      <div class="flex items-center px-2">
                        <input id="protesisNo" type="radio" [value]="false" name="protesis"
                          [(ngModel)]="intraoral.protesis">
                        <label for="rfemenino" class="w-full ml-2 text-sm font-medium text-gray-500">No</label>
                      </div>
                    </li>
                  </ul>
                </div>
              </div>

            </div>

            <!-- Antecedentes de higuiene oral -->
            <h5 class="mt-4 text-lg font-semibold text-start">Antecedentes de higuiene oral</h5>
            <div class="grid grid-cols-3 gap-3 p-2 border-gray-800 rounded-md border-1">

              <!-- Input frecuencia cepillado -->
              <div>
                <div class="relative">
                  <input type="text" id="frecuencia" class="block peer" placeholder=" "
                    name="frecuencia_cepillado_dental" [(ngModel)]="higuiene.frecuencia_cepillado_dental" />
                  <label
                    class="absolute top-2 left-1 z-10 origin-[0] -translate-y-4 scale-95 transform bg-white px-2 text-sm text-gray-500 duration-300 peer-placeholder-shown:top-1/2 peer-placeholder-shown:-translate-y-1/2 peer-placeholder-shown:scale-100 peer-focus:top-2 peer-focus:-translate-y-4 peer-focus:scale-95 peer-focus:px-2 peer-focus:text-primary-color">
                    Frecuencia cepillado
                  </label>
                </div>
              </div>

              <!-- Input cepillodental -->
              <div class="flex items-center justify-center border-2 border-gray-300 rounded-md">
                <div class="relative">
                  <span
                    class="mb-1 text-sm bg-white px-2 text-gray-500 absolute top-[-4px] left-[-50px] z-10 origin-[0] -translate-y-4 scale-95 transform">U.
                    cepillo dental?</span>
                  <ul class="flex w-full h-full m-auto text-sm font-medium text-gray-400 ">
                    <li class="w-full ml-[-20px] ">
                      <div class="flex items-center">
                        <input id="cepilloSi" type="radio" [value]="true" name="usa_cepillo_dental"
                          [(ngModel)]="higuiene.usa_cepillo_dental">
                        <label class="w-full ml-2 text-sm font-medium text-gray-500">Si</label>
                      </div>
                    </li>
                    <li class="w-full">
                      <div class="flex items-center px-2">
                        <input id="rfemenino" type="radio" [value]="false" name="list-radio" name="usa_cepillo_dental"
                          [(ngModel)]="higuiene.usa_cepillo_dental">
                        <label for="rfemenino" class="w-full ml-2 text-sm font-medium text-gray-500">No</label>
                      </div>
                    </li>
                  </ul>
                </div>
              </div>

              <!-- Input hilodental -->
              <div class="flex items-center justify-center border-2 border-gray-300 rounded-md">
                <div class="relative">
                  <span
                    class="mb-1 text-sm bg-white px-2 text-gray-500 absolute top-[-4px] left-[-50px] z-10 origin-[0] -translate-y-4 scale-95 transform">U.
                    hilo dental?</span>
                  <ul class="flex w-full h-full m-auto text-sm font-medium text-gray-400 ">
                    <li class="w-full ml-[-20px] ">
                      <div class="flex items-center">
                        <input id="rmasculino" type="radio" [value]="true" name="list-radio" name="usa_hilo_dental"
                          [(ngModel)]="higuiene.usa_hilo_dental">
                        <label class="w-full ml-2 text-sm font-medium text-gray-500">Si</label>
                      </div>
                    </li>
                    <li class="w-full ">
                      <div class="flex items-center px-2">
                        <input id="rfemenino" type="radio" [value]="false" name="list-radio" name="usa_hilo_dental"
                          [(ngModel)]="higuiene.usa_hilo_dental">
                        <label for="rfemenino" class="w-full ml-2 text-sm font-medium text-gray-500">No</label>
                      </div>
                    </li>
                  </ul>
                </div>
              </div>

              <!-- Input enjuague bucal -->
              <div class="flex items-center justify-center border-2 border-gray-300 rounded-md">
                <div class="relative">
                  <span
                    class="mb-1 text-sm bg-white px-2 text-gray-500 absolute top-[-4px] left-[-50px] z-10 origin-[0] -translate-y-4 scale-95 transform">U.
                    enjuague bucal?</span>
                  <ul class="flex w-full h-full m-auto text-sm font-medium text-gray-400 ">
                    <li class="w-full ml-[-20px] ">
                      <div class="flex items-center">
                        <input id="rmasculino" type="radio" [value]="true" name="list-radio" name="usa_enjuague_bucal"
                          [(ngModel)]="higuiene.usa_enjuague_bucal">
                        <label class="w-full ml-2 text-sm font-medium text-gray-500">Si</label>
                      </div>
                    </li>
                    <li class="w-full ">
                      <div class="flex items-center px-2">
                        <input id="rfemenino" type="radio" [value]="false" name="list-radio" name="usa_enjuague_bucal"
                          [(ngModel)]="higuiene.usa_enjuague_bucal">
                        <label for="rfemenino" class="w-full ml-2 text-sm font-medium text-gray-500">No</label>
                      </div>
                    </li>
                  </ul>
                </div>
              </div>

              <!-- Input sangranencias -->
              <div class="flex items-center justify-center border-2 border-gray-300 rounded-md">
                <div class="relative">
                  <span
                    class="mb-1 text-sm bg-white px-2 text-gray-500 absolute top-[-4px] left-[-50px] z-10 origin-[0] -translate-y-4 scale-95 transform">Sangran
                    encias?</span>
                  <ul class="flex w-full h-full m-auto text-sm font-medium text-gray-400 ">
                    <li class="w-full ml-[-20px] ">
                      <div class="flex items-center">
                        <input id="rmasculino" type="radio" [value]="true" name="list-radio" name="sangran_encias"
                          [(ngModel)]="higuiene.sangran_encias">
                        <label class="w-full ml-2 text-sm font-medium text-gray-500">Si</label>
                      </div>
                    </li>
                    <li class="w-full ">
                      <div class="flex items-center px-2">
                        <input id="rfemenino" type="radio" [value]="false" name="list-radio" name="sangran_encias"
                          [(ngModel)]="higuiene.sangran_encias">
                        <label for="rfemenino" class="w-full ml-2 text-sm font-medium text-gray-500">No</label>
                      </div>
                    </li>
                  </ul>
                </div>
              </div>

              <!-- Input higuiene bucal-->
              <div>
                <div class="relative">
                  <input type="text" id="higuienebucal" class="block peer" placeholder=" " name="higuiene_bucal"
                    [(ngModel)]="higuiene.higuiene_bucal" />
                  <label for="higuienebucal"
                    class="absolute top-2 left-1 z-10 origin-[0] -translate-y-4 scale-95 transform bg-white px-2 text-sm text-gray-500 duration-300 peer-placeholder-shown:top-1/2 peer-placeholder-shown:-translate-y-1/2 peer-placeholder-shown:scale-100 peer-focus:top-2 peer-focus:-translate-y-4 peer-focus:scale-95 peer-focus:px-2 peer-focus:text-primary-color">
                    Higuiene bucal
                  </label>
                </div>
              </div>

            </div>

          </div>

        </form>
      </div>

      <!-- Botones -->
      <div class="flex flex-row-reverse gap-4 px-4 py-3 bg-body-color">
        <button
          class="w-full px-3 py-2 font-medium border border-gray-800 rounded-md shadow-md bg-sidebar-color text-text-color hover:bg-gray-200"
          (click)="closeModal()">
          Cancelar
        </button>

        <button
          class="w-full px-3 py-2 font-medium text-white border border-gray-800 rounded-md shadow-md bg-primary-color hover:bg-primary-color-dark"
          (click)="modificarHistorial()">
          Modificar
        </button>
      </div>

    </div>

  </div>

</div>
