<div class="max-w-full p-8 m-8 bg-sidebar-color">

  <!-- Buscador -->
  <!-- <div class="flex items-center w-1/4 px-4 py-2 rounded-md bg-body-color">
    <i class="mr-2 text-lg bi bi-search"></i>
    <input placeholder="Buscar" name="search" id="search"
      class="w-full text-base font-medium bg-transparent text-text-color focus:outline-none">
  </div> -->

  <div class="flex items-center justify-between mt-3 mb-3">
    <!-- Próximas citas -->
    <span class="font-semibold text-text-color">Próximas citas</span>

    <!-- Registrar atencion -->
    <!-- <button class="p-2 font-semibold text-white rounded-md bg-primary-color hover:bg-primary-color-dark">
      Registrar atención
    </button> -->
  </div>

  <!-- Calendario -->
  <div>
    <div [ngSwitch]="view">
      <mwl-calendar-month-view
        *ngSwitchCase="'month'"
        [viewDate]="viewDate"
        [events]="events"
      >
      </mwl-calendar-month-view>
      <mwl-calendar-week-view
        *ngSwitchCase="'week'"
        [viewDate]="viewDate"
        [events]="events"
      >
      </mwl-calendar-week-view>
      <mwl-calendar-day-view
        *ngSwitchCase="'day'"
        [viewDate]="viewDate"
        [events]="events"
        [dayStartHour]="8"
        [dayStartMinute]="0"
        [dayEndHour]="20"
        [dayEndMinute]="30"
        (eventClicked)="eventClicked($event)"
      >
      </mwl-calendar-day-view>
    </div>
  </div>

</div>

<div *ngIf="modalOpenRegistraAtencion == true">
  <app-registrar-atencion></app-registrar-atencion>
</div>
