<div class="flex bg-body-color w-screen h-screen">

    <!-- sidebar -->
    <div class="h-screen bg-sidebar-color p-4 duration-300 relative"
        [ngClass]="{ 'w-1/5': sidebarOpen, 'w-20': !sidebarOpen }">

        <!-- Open menu  -->
        <i class="bi bi-arrow-left-circle-fill text-primary-color text-3xl cursor-pointer absolute -right-3"
            [ngClass]="{ 'rotate-180' : !sidebarOpen }" (click)="toggleSidebar()"></i>

        <!-- logo -->
        <div class="inline-flex">
            <i class="bi bi-android2 text-4xl cursor-pointer block float-left mr-2"></i>
            <h1 class="text-black origin-left font-bold text-[26px] mt-[-10px] duration-300"
                [ngClass]="{ 'scale-0' : !sidebarOpen }">
                Dental Xperience</h1>
        </div>

        <!-- Menu items -->
        <ul class="pt-2" style="padding: 0;">
            <li *ngFor="let menuItem of menuItems"
                class="text-text-color  flex items-center gap-x-4 cursor-pointer hover:bg-primary-color hover:text-sidebar-color rounded-md pr-2 pt-2 pb-2"
                [ngClass]="{ 'pl-2': sidebarOpen, 'pl-1': !sidebarOpen }" (click)="navigateTo(menuItem.routerLink)">
                <span class="block float-left text-2xl">
                    <i class="bi {{ menuItem.iconClass }}"></i>
                </span>
                <span class="font-semibold flex-1" [ngClass]="{ 'hidden' : !sidebarOpen }">{{ menuItem.title }}</span>
            </li>
        </ul>

        <!-- Toggle DarkMode -->
        <div class="absolute bottom-0 mb-3">
            <div class="flex items-center gap-x-4 text-text-color">
                <i class="bi bi-moon block float-left text-2xl pt-2 pb-2"></i>
                <span class="font-semibold" [ngClass]="{ 'hidden' : !sidebarOpen }">Modo oscuro</span>
                <label class="relative inline-flex cursor-pointer items-center" [ngClass]="{ 'hidden' : !sidebarOpen }">
                    <input id="switch" type="checkbox" class="peer sr-only" />
                    <label for="switch" class="hidden"></label>
                    <div
                        class="peer h-6 w-11 rounded-full border bg-slate-200 after:absolute after:left-[2px] after:top-0.5 after:h-5 after:w-5 after:rounded-full after:border after:border-gray-300 after:bg-white after:transition-all after:content-[''] peer-checked:bg-primary-color peer-checked:after:translate-x-full peer-checked:after:border-white peer-focus:ring-green-300">
                    </div>
                </label>
            </div>
        </div>

    </div>

    <!-- content -->
    <div class="flex-1 bg-body-color overflow-y-auto content-start">
        <!-- [ngClass]="{ 'w-4/5': sidebarOpen, 'w-full': !sidebarOpen }" -->

        <!-- aqui se carga el contenido del componente -->
        <router-outlet></router-outlet>
    </div>

</div>